@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #0e1538;
  -ms-align-items: center;
}

.box {
  position: relative;
  width: 300px;
  height: 400px;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  overflow: hidden;
}

.box h2 {
  color: #fff;
  text-shadow: 2px 2px rgb(0, 0, 0);
  font-size: 8em;
  z-index: 2;
}

.box::before {
  content: "";
  position: absolute;
  width: 170px;
  height: 150%;
  background: linear-gradient(45deg, #ff0000, #ff7200);
  animation: rotate 4s linear infinite;
}

.box::after {
  content: "";
  position: absolute;
  inset: 5px;
  background: #0e1538;
  z-index: 1;
  border-radius: 20px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
